.image-list img {
  opacity: 1;
  display: inline-block;
  width: 250px;
  height: 250px;
  transition: 2.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 1.5s ease;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle i {
  width: 100px;
}
.card:hover .image-list img {
  opacity: 0.5;
}

.card:hover .middle {
  opacity: 3;
}

.card {
  max-width: 350px;
  max-height: 330px;
}
